<%= simple_form_for [:account, @post] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :content %>
  </div>

  <div class="group">
    <%= f.input :is_set_as_public %>
  </div>

  <div class="group">
    <%= f.input :is_set_as_model %>
  </div>

  <%= f.submit "Submit", :class => "btn btn-info", data: { disable_with: "Submitting..." } %>

<% end %>